# Include the additional files
include ChangeLog.md
include COPYING
include README.md
include SECURITY.md

include requirements.txt
include requirements-docs.txt
include requirements-examples.txt
include requirements-lint.txt
include requirements-test.txt

# Include the docs
recursive-include docs *
prune docs/_build

# Include the extra scripts
recursive-include extra *.py

# Include the example scripts
recursive-include examples *

# Exclude generated Python bytecode
global-exclude *.py[cod]
global-exclude __pycache__
